mysqlclient==2.2.0
pycryptodome==3.18.0
python-json-logger==2.0.1
pytz==2021.1
pyjwt==2.6.0
redis==5.0.1
requests==2.31.0
beautifulsoup4==4.12.2
celery==5.4.0
lxml==4.9.4
pyquery==2.0.0
Scrapy==2.11.0
selenium==4.20.0
fake_useragent==1.4.0
sqlalchemy==2.0.30
pymysql==1.1.1
webdriver-manager==4.0.1
